@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  width: 100%;
  display: block;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  width: 40%;
  margin-left: 1em;
  font-family: 'Noto Serif TC', serif;
}

header {
  background-color: #a2a2a2;
  padding: .5rem 0;
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-content: center;
}

header nav ul {
  display: inline-block;
}

nav a {
  display: block;
  padding: .5em .75em;
  color: #333;
  text-decoration: none;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}

.banner {
  text-align: center;
  margin: 0;
}

.banner-content {
  max-width: 70em;
  text-align: center;
  line-height: 1.3;
  margin-left: 2em;
  margin-right: 2em;
  padding-bottom: 2em;
}

.banner-content h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0;
}

.banner-content p {
  margin-top: .5em;
  font-size: 1.5rem;
}

.works {
  background-color: #f2f2f2;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.works h2 {
  text-align: center;
  padding-top: 1rem;
  font-size: 1.75rem;
  margin: 0;
}

.img-card {
  width: 180px;
}

.button {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: .5em .75em;
  font-size: 1.25rem;
}

.button:hover {
  color: black;
  background-color: white;
  border: 3px solid #000;
}

.cards {
  list-style-type: none;
  padding: 0;
}

.content-card strong {
  font-size: 1.25rem;
}

.products {
  margin-top: 2rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.products h2 {
  font-size: 1.75rem;
}

.product-cards a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.product-cards a:hover {
  background-color: #e2e2e2;
}

.button-2 {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: .5em .75em;
}

.button-2:hover {
  color: black;
  background-color: white;
  border: 3px solid #000;
}

footer {
  background-color: #e2e2e2;
  text-align: center;
  margin-top: 1rem;
  padding: .5rem;
}

@media only screen and (min-width: 25em) {

  html {
    line-height: 1.3;
  }

  .img-card {
    width: 50%;
  }

  .product-img {
    width: 50%;
  }

  .product-card:last-child {
    display: none;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .card {
    display: flex;
    align-items: center;
  }

  .content-card {
    text-align: left;
    margin-right: 1rem;
  }

  .img-card {
    width: 180px;
    margin: 1rem;
  }

  .product-card {
    display: inline-block;
    margin: 1.5rem;
  }

  .product-card:nth-child(3) {
    display: none;
  }

  .product-card:last-child {
    display: none;
  }

  .product-img {
    width: 180px;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    display: flex;
    align-items: center;
  }

  header nav ul {
    display: inline-block;
    padding-left: 15rem;
  }

  header nav ul li {
    display: inline-block;
  }

  .banner {
    position: relative;
  }

  .banner-content {
    position: absolute;
    right: 30em;
    bottom: 10em;
    text-align: left;
  }

  .banner-content h2 {
    text-align: left;
  }

  .cards {
    display: flex;
  }

  .card {
    display: block;
  }

  .content-card {
    text-align: center;
    max-width: 25em;
  }

  .product-cards {
    display: inline-block;
  }

  .product-card:last-child {
    display: none;
  }

  .product-card:nth-child(3) {
    display: inline-block;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  header nav ul {
    padding-left: 20rem;
  }

  .banner-content {
    top: 10em;
    left: 10em;
  }

  .product-cards {
    display: inline-block;
  }

  .product-card:last-child {
    display: inline-block;
  }

  .product-card:nth-child(3) {
    display: inline-block;
  }

}
